* {
    font-family: 'Courier New', Courier, monospace;
}

img {
    min-width: 20px;
    max-width: 80px;
    min-height: 20px;
    max-height: 80px;
}

.footer {
    display: inline;
    font-size: x-small;
}